@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

$primary: #66FCF1;
$secondary: #45A29E;
$warning_main: #ffc120;
$info_main: #21f396;
$success_main: #1bde51;
$error_main: #ff4b2f;
$background_default: #0B0C10;
$background_paper: #1F2833;
$text_primary: #ffffff;
$text_secondary: #e1e1fc;
$text_disabled: #8d8da8;
$text_hint: #e1e1fc;

// $font_primary: Montserrat !important;